@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* vertical center */
    align-items: center;       /* horizontal center */
}

h2{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    border-color: black;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 55%;
}

#btn {
    background-color: rgb(237, 134, 8);
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 44px;
    height: 70%;
    outline: none;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
